*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.sctn{
  padding-top: 150px;
}

.container{
  margin: 0 10%
}

.radio{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

main .plans-crd .fact-plans span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.pdd-txt{
  padding: 20px;
}


