main, .yellow{
  background-color: rgba(255, 247, 0, 0.2)
}

.green{
  background-color: rgba(149, 255, 0, 0.3);
}

.red{
  background-color: rgba(255, 0, 0, 0.3)
}

/* 
  HEADER
*/

/* NAVBAR */

/* .navbar{
  width: 100%;
  position: fixed;
}
.left-nav-side{
  float: left;
}

.nav-elmnt{
  padding-right: 30px; 
  text-align: center;
  vertical-align: middle; 
}
.right-nav-side{
  float: right;
  height: 65px;
} */

/* JUMBOTRON */
/* 
.jumbotron{
  padding: 0 100px;
  width: 100%;
  height: 600px;
  position: relative;
  top: 65px;
}

.jumbo-txt{
  float: left;
  width: 30%;
  margin-top: 50px;
}


.jumbo-img{
  float: right;
  width: 65%;
  height: 450px;

  margin-top: 50px;
}

.jumbo-img img{
  width: 100%;
} */

/* 
  MAIN
*/


/* PLANS */
/* .plans-crd{
  height: 100%;
}


.pln-chs{
  float: left;
  height: 100%;
  width: 30%;
  margin-right: calc((100% - 90%) / 2);
  border: 1px solid #D3D3D6;
}
.third{
  margin-right: 0;
}

.pln-mod{
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #D3D3D6;
}

.pln-sel{
  height: 1000px;
}

.pln-enter{
  margin-top: 50px;
  height: 100%;
}

.ent-bttn h3{
  float: left;
  width: 30%;
}
.ent-bttn button{
  float: right;
  width: 30%;
} */
/* FIND A PARTNER */

/* .cont-part{
  width: 100%;
}

.img-part{
  width: 48%;
  float: left;
  margin-right: 4%;
}

.img-part img{
  width: 100%;
}

.txt-part{
  width: 48%;
  height: 100%;
  float: left;
  padding-top: 50px;
} */

/* OPTIONS */
.card{
  width: 339;
}

.card-img{
  width: 280px;
  height: 220px;
}

.card-img img{
  width: 100%;
}

/* DROPBOX BUSINESS */

.drop-bus{
  height: 100%;
}

/* brands */
.brands{
  height: 465px;
  width: 100%;
}

.brands-right{
  float: left;
  height: 100%;
  width: 25%;
}

.brand-sqr{
  float: left;
  background-color: aqua;
  border: 1px solid black;
  width: 50%;
  height: 50%;
}

.brand-info{
  float: left;
  width: 50%;
  height: 100%;
  background-color: brown;
}

/* free tryal after brands */

.free-try{
  width: 100%;
  height: 360px;
  text-align: center;
  line-height: 360px;
}

.free-txt h3{
  float: left;
  width: 60%;
}

.free-txt section{
  float: left;
  width: 40%;
}

/* FAQ */

.faq{
  width: 100%;
  height: 600px;
  padding: 130px 250px;
}

.faq h3{
  padding-bottom: 50px;
}

.faq h4{
  padding: 20px 0;
  border-top: 1px solid grey;
}
.faq .last{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

/* 
  FOOTER
*/
footer{
  background-color: black;
  padding-top: 81px;
}

/* info */

.col{
  float: left;
  height: 250px;
  margin-bottom: 40px;

}

.col-sec{
  width: 20%;
}
.col-sec a{
  display: block;
}

/* text style footer */
footer h4{
  color: #7189DA;
}
.col-left h4{
padding-right: 30px;
}

/* small collumns */

footer section h4{
  font-size: 13px;
}

/* last part of footer */


.lil-line {
  width   : 200px;
  height  : 50px;   
  position: relative;
  z-index : 1;
  margin: 20px auto;
  padding-top: 20px;
}

.lil-line:before {
  content : "";
  position: absolute;
  left: 0;
  top: 0;
  height: 5px;
  width: 30%;
  border-top:1px solid #726E97;
}